
<div class="container-fluid">
  <h1 id="pageTitle">Search Books By Author</h1>
  <p id="pageDescription">Simply paste a link to a goodreads author page and hit the search button. The authors work will appear below.</p>

  <div id="searchWrapper">
    <input id="authorInput" [(ngModel)]="authorPageLink"/>
    <input type="button" value="SEARCH BOOKS" id="getBooksButton" (click)="getBooks()">
  </div>

  <div class="row display-flex">
    <div class="col-lg-4 col-md-4 col-sm-6" id="bookWrapper" *ngFor="let book of books">
      <img id="cover" src="{{book.coverURL}}" alt="">
      <div id="bookInformation">
        <div id="bookTitle">{{book.title}}</div>
        <div id="description">{{book.partialDescription}}</div>
      </div>
      <input type="button" value="VIEW BOOK" id="viewBookButton" (click)="viewBook(book.id)">
    </div>
  </div>
</div>