
<div class="container">
  <div class="row">
    <div *ngIf="loading" class="loader"></div>
    <div *ngIf="book" id="content">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img id="cover" src="{{book.coverURL}}" alt="">
      </div>
      <div class="col-lg-8 col-md-6 col-sm-12">
        <div id="bookTitle">{{book.title}}</div>
        <div id="bookValues">
          <div id="rating">{{book.rating}} / 5.00 Rating</div>
          <div id="ratings">{{book.ratings}}  Ratings</div>
          <div id="reviews">{{book.reviews}}  Reviews</div>
        </div>
        <div [innerHTML]="book.description"></div>
      </div>
    </div>
  </div>
</div>
